<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167314886555-i0namc2saesdr0i684rl2q2505s79lq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167314886555-i0namc2saesdr0i684rl2q2505s79lq2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167314886555-7iul3l4kk2ee5hf4g73jiqichafu81pk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlzs3XmBUcmtpKsBKnJZcfjPkfjdZvf7I</string>
	<key>GCM_SENDER_ID</key>
	<string>167314886555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ephsar.app</string>
	<key>PROJECT_ID</key>
	<string>ephsar-f5a3c</string>
	<key>STORAGE_BUCKET</key>
	<string>ephsar-f5a3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167314886555:ios:6486dce5d76d493f9e9b3e</string>
	<key>DATABASE_URL</key>
	<string>https://ephsar-f5a3c.firebaseio.com</string>
</dict>
</plist>